#root {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}
  
  /* Main container styles */
  .video-uploader-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .upload-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #000;

}

  /*Video Input styling*/
  .video-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .video-input {
    display: none;
  }

  .custom-upload-label {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
  
  .custom-upload-label:hover {
    background-color: #5e5f60;
  }
  
  .supported-formats {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  
  .video-info {
    background-color: #f5f5f5;
    width: 80%;
    border-radius: 12px;
    padding: 16px 20px;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    line-height: 1.6;
  }

  .video-info p {
    margin: 6px 0;
    font-size: 16px;
  }
  
  /*Video preview*/
  .video-preview {
    width: 85%;
    max-height: 300px;
    height: 100%;
    margin: 30px auto;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #000;
    display: block; 
  }
  
  /*Progress bar*/
  .progress-container {
    margin: 10px 0;
  }
  
  .progress-bar-bg {
    width: 100%;
    height: 8px;
    background-color: #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
  }
  
  .progess-text {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 5px;
  }
  
  /*Detect button*/
  .upload-button {
    display: block;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  
  .upload-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .upload-button:not(:disabled):hover {
    background-color: #5e5f60;
  }
  
  /* Results section */
  .result-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }
  
  .result-content {
    font-size: 14px;
    color: #333;
  }
  
  .success-message {
    color: #4caf50;
    font-weight: bold;
  }
  
  .error-message {
    color: #f44336;
    font-weight: bold;
  }

  /* Metrics section */
  .metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 30px;
}

.metric-card {
  flex: 1 1 30%;
  background-color: #a09d9dcc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.metric-value {
  font-size: 2rem;
  font-weight: bold;
}

.metric-label {
  font-size: 0.95rem;
  color: #000000;
}

.detected-timeline {
  border: 1px dashed #aaa;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.section-header {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
